@model IEnumerable<BarkodSistem.Models.QrCodeInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TETT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TETT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QrCodeInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QrCodeInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QrCodeInfoID })
        </td>
    </tr>
}

</table>
